[submodule "packages/cli/src/assets/starter-app"]
	path = packages/cli/src/assets/starter-app
	url = https://github.com/monster-js/starter-app.git
[submodule "projects/starter-app"]
	path = projects/starter-app
	url = https://github.com/monster-js/starter-app.git
