# Dependency directories
node_modules/

# Environment variables file
.env

# Logs
logs/
*.log

# Build artifacts
dist/
build/
out/

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.monster/*